*{
    margin: 0;
    padding: 0;
}

.container{
display: flex;
flex-direction: column;
}
.header, .footer{
height: 50px;
background-color: #666;
}
.content{
background-color: #ccc;
height: 100vh;
}
.columns{
    height: 100vh;
    display: flex;
}
.article{
    background-color: #ccc;
}
.sidebar{
    width: 20%;
    background-color: #999;
}








.yellowbox{
    width: 50px;
    height: 50px;
    background-color: orange;
}
.center-left{
    align-items: center;
}
.center-top{
    justify-content: center;
}
.top-right{
    justify-content: right;
}
.center{
    justify-content: center;
    align-items: center;
}
.center-right{
    justify-content: right;
    align-items: center;
}
.bottom-left{
    align-items: flex-end;
}
.bottom-center{
    align-items: flex-end;
    justify-content: center;
}
.bottom-right{
    align-items: flex-end;
    justify-content: right;
}











.width{
    width: 200px;
}
.high{
    height: 80px;
}
.p-high{
    height: 8rem;
}
.margin-c{
    margin-top: 50px;
}
.c-order1{
    order: 1;
}

.c-order2{
    order: 2;
}

.c-order3{
    order: 3;
}
.flex-auto{
    flex: auto;

}
.flex-end{
    align-self: flex-end;
}


