

body{
    
    margin:  0px;
    padding: 0px;
    color: darkslategray;
    background-image: url(../img/Forside-hoejbed1.jpg);
    background-attachment: fixed;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header{
    text-align: center;
    margin-top: 70px;
    background-color: rgb(0, 95, 63);
    padding-bottom: 1px;
    padding-top: 1px;
    
}

nav{
    
    text-align: center;
    background-color: olive;
    padding: 24px;
    position: fixed;
    width: 100%;
    top: 0px;
    border: black;
    border-style: solid;
}

        nav a {
        background-color: darkgreen;
        padding: 15px;
        color: mintcream;
        text-decoration: none;
        text-align: center;
        font-family: 'Coming Soon', sans-serif;

        border: wheat;
        border-style: groove;
        }

main{
    max-width: 1000px;
    text-align: center;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: whitesmoke;
}



img{
    
    height: auto;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
    article img{
        margin-top: 30px;
    }
    a img{
        margin-top: 0px;
        height: 283px;
    }
    
p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    color: rgb(119, 184, 0);
    background-color:rgb(0, 95, 63) ;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    

    font-family: 'Julius Sans One', sans-serif;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1,5rem;
}


ul{
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    margin-left: 30px;
    
}
li{
    float: left;
}
li a {
    color:mediumseagreen;
    text-decoration: none;
    display: block; 
    padding: 11px;
}

footer{
    background-color: darkgreen;
    padding: 6px;
    text-align: center;
    color: orange;
}   


