

body{

/*
plaser et billede som baggrund til helle hjemmesiden der føljer med brugeren*/
    
 
    background-image: url(../img/Forside-hoejbed1.jpg);
    background-attachment: fixed;

    
    margin:  0px;
    padding: 0px;
    

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(140, 9%, 12%);


}
/* gør links grønne //  kan plaseres på links og elementet oven over */
.link-green, .link-green>a{
    color: hsl(150, 49%, 27%);
}
/* giver alle links en grøn hover farve*/
a:hover{
    color: hsl(81, 100%, 36%);
}

header{
    padding: 0.1rem;
    margin-top: 70px;
    background-color: hsl(150, 49%, 27%);
    text-align: center;
}
header h1,header h2{
    line-height: 2rem
}

nav{
    text-align: center;
    background-color: hsl(105, 17%, 55%);
    padding: 24px;
    position: fixed;
    width: 100%;
    top: 0px;
    
}
        nav a {
        background-color: hsl(150, 49%, 27%);
        padding: 10px;
        margin-left: 1rem;
        margin-right: 1rem;
        color: hsl(40, 8%, 93%);
        text-decoration: none;
        text-transform: uppercase;

        font-family: 'Coming Soon', sans-serif;

        border: hsl(40, 8%, 93%);
        border-style: groove;
        }
        
footer{
    background-color: hsl(150, 49%, 27%);
    padding: 6px;
    color: hsl(40, 8%, 93%);
    margin-top: 10px;
    text-align: center;
}      

main{
    max-width: 1000px;
    
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: hsl(40, 8%, 93%);
}
h1, h2 {
    color: hsl(81, 100%, 36%);
    font-family: 'Julius Sans One', sans-serif;
}
h1{
    font-size: 3rem;
    line-height: 4rem;
}
h2{
    font-size: 2rem;
    line-height: 4rem;
}
h3{
    font-size: 1,5rem;
    line-height: 4rem;
}




/* flexbox rælaterede ting */
.container{
    display: flex;
}
.flex-down{
    flex-direction: column;
}
.space-around{
    justify-content: space-around;
}
.flex-wrap{
    flex-wrap: wrap;
}



/* laver en vertikal sidebar i venstre side */
.sidebar{
    background-color:hsl(150, 20%, 80%);
    height: 147vh;
    width: 12rem;
    float: left;
    margin-right: 1rem;
}
.sidebar h3{
    text-align: center;
}
.sidebar p{
margin-left: 2rem;
}
.sidebar p>span{
    position: relative;
    left:  1rem;
    bottom: 1rem;
}
.sidebar img{
    margin: 0px;
}
.nomove{
    resize: none;
}

/* skal plaseres i en ul tag og vil der efter konvatere listen til en horizontal liste */
.horizontal-liste{
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.horizontal-liste>li{
    float: left;
}
li a {
    color: hsl(150, 49%, 27%);
    text-decoration: none;
    display: block; 
    /* mellemrum mellem individuelle elementer i en liste */
    padding: 11px;
}
.horizontal-liste a img{
    margin-top: 0px;
}



/* diverse classes */

.large{
    font-size: large;
}
/* fjærner al margin */
.margin0{
    margin: 0px;
}
/* gaver en margin på 20px */
.margin20{
    margin: 20px
}
.margintop70{
    margin-top: 70px;
}
.link-line-remove, .link-line-remove>a{
    text-decoration: none;
}


/* wiki-site article */

/* design dedikered til foresiden og wiki siderne*/
.front-site article{
    text-align: center;
}
.front-site h1, .front-site h2{

    margin-left: auto;
    margin-right: auto;
    
    text-shadow: -2px -2px  2px blue; 
}
.front-site h2{
    width: 80%;
}
.front-site img, .wiki-site img{
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
.front-site article>p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}





/* design dedikered til blog siden */
.blog article{
    text-align: left;
}

.blog article>img{
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.blog span>img{
    float: right;
    margin-right: 10px;
}

.blog span>h3{
    color: hsl(81, 100%, 36%);
    font-family: 'Coming Soon', sans-serif;
}



/* kontakt os side */
.kontakt-side>main{
    margin-top: 70px;
}